version: 2.1
orbs:
  slack: circleci/slack@3.4.2
jobs:
  build:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester
    steps:
      - checkout
      - run:
          name: 'Setup virtual env'
          command: |
            python3 -mvenv /usr/local/share/virtualenvs/tap-taboola
            source /usr/local/share/virtualenvs/tap-taboola/bin/activate
            pip install -U 'pip==22.2.2' 'setuptools==65.3.0'
            pip install .[dev]
      - run:
          name: 'JSON Validator'
          command: |
            source /usr/local/share/virtualenvs/tap-taboola/bin/activate
            stitch-validate-json tap-taboola/schemas/*.json
      - run:
          name: 'pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-taboola/bin/activate
            pylint tap_taboola -d C,R,W
      - add_ssh_keys
      - slack/notify-on-failure:
          only_for_branches: master


workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
  build_daily:
    triggers:
      - schedule:
          cron: "0 19 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build:
          context: circleci-user
